/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* REMEMBER TO ADD VARIABLES*/
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  padding: 3%;
}
header a {
  margin: 2rem 12rem 2rem;
  font-size: 3rem;
  color: black;
}
@media (max-width: 500px) {
  header a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.title .my-name {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}
@media (max-width: 500px) {
  .title .my-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem 0rem 2rem;
  }
}
.title .title-img {
  width: 100rem;
  margin: 2rem 15rem 5rem;
}
@media (max-width: 500px) {
  .title .title-img {
    display: none;
  }
}
.title span {
  display: flex;
  justify-content: center;
  font-size: 2.3rem;
}
.container {
  display: flex;
  justify-content: center;
  width: 100rem;
  margin: 0.8rem 15rem 3rem;
  font-size: 2.5rem;
}
@media (max-width: 500px) {
  .container {
    display: flex;
    justify-content: start;
    margin: 0rem 3rem 2rem;
  }
}
.container .intro {
  background-color: lightgrey;
  border: 0.3rem solid black;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}
@media (max-width: 500px) {
  .container .intro {
    width: 40rem;
    margin: 0rem 0rem 0rem;
  }
}
.mid-section {
  display: flex;
}
@media (max-width: 500px) {
  .mid-section {
    flex-direction: column;
  }
}
.mid-section .skills {
  background-color: lightgrey;
  border: 0.3rem solid black;
  line-height: 5rem;
  width: 135rem;
}
@media (max-width: 500px) {
  .mid-section .skills {
    width: 45rem;
    align-items: start;
    margin: 0rem 0.2rem 2rem;
  }
}
.mid-section h2 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 3rem;
}
@media (max-width: 500px) {
  .mid-section h2 {
    display: flex;
    justify-content: start;
    padding: 1.5rem;
  }
}
.mid-section ul {
  list-style-position: inside;
  list-style-type: square;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 3.5rem 1.4rem 0rem;
}
.mid-section .work-history {
  font-size: 2.5rem;
  border: 0.3rem solid black;
  background-color: lightgrey;
}
.mid-section .work-history-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem 2rem;
}
.mid-section .work-history-container h3 {
  font-size: 3rem;
}
footer h2 {
  margin: 2.5rem 0rem 0rem;
  display: flex;
  justify-content: center;
  font-size: 3rem;
}
footer h3 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  margin: 2rem 0rem 1.5rem;
}
footer .contact-info {
  display: flex;
  justify-content: space-evenly;
  font-size: 2.5rem;
}
@media (max-width: 500px) {
  footer .contact-info {
    justify-content: space-between;
  }
}
